@model Arrecadar3.Models.Atualizacao_Campanha

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Atualizacao_Campanha</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Campanha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Campanha.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem_Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagem_Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_Publicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_Publicacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
