@model Arrecadar3.Models.Campanha

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Campanha</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ongs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ongs.Area_Atuacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meta_Arrecadacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meta_Arrecadacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor_Arrecadado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor_Arrecadado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_Inicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_Inicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem_Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagem_Url)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
